/* Page Headers */
h1 {
    margin-top: 0px;
}

/* Inline Target / Stop Loss on Index */
td > a:link, td > a:visited {
    color: #000000;
}

td > a:hover {
    font-weight: bold;
    text-decoration: none;
}

#changeportfolio {
    float: right;
}

/* Dropdown login and register forms */
.dropdown-form {
    width: 400px;
    padding: 15px 30px 0px;
}

/* Target / Stop Loss inputs on Index */
.indexform {
    width: 6em;
    text-align: right;
}

.danger input[type=text] {
    background-color: #eed6d6;
    font-weight: bold;
}

.success input[type=text] {
    background-color: #d8eecf;
    font-weight: bold;
}

/* Portfolio option on index */
#portfolioselect { 
    float: right;
}

.btn-static:hover, .btn-static:focus {
    background-position: 0px;
    border-color: #ccc;
}

.advfn-logo {
    border: 0;
    padding: 0;
    margin: 0;
}

.loss {
    font-weight: bold;
    color: #f44336;
}

.profit {
    font-weight: bold;
    color: #0c9;
}

tfoot > tr > td {
    font-weight: bold;
}

.alert {
    font-variant: small-caps;
    font-size: 1.2em;
}

.nodata {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

#alertmsg > li {
    color: #F00;
    list-style-type: none;
}