/* Navbar dropdown login and register forms */
.dropdown-form {
    width: 400px;
    padding: 15px 30px 0px;
}

/* Page Headers */
h1 {
    margin-top: 0px;
}

/* Company Links in Index Table
   Remove Blue links and include hover */
td.vert-middle {
    vertical-align: middle!important;
}

td > a:link, td > a:visited {
    color: #000000;
}

td > a:hover {
    font-weight: bold;
    text-decoration: none;
}

/* Target / Stop Loss inputs on Index */
.indexform {
    width: 6em;
    text-align: right;
}

.danger input[type=text] {
    background-color: #eed6d6;
    font-weight: bold;
}

.success input[type=text] {
    background-color: #d8eecf;
    font-weight: bold;
}

/* Index Page - No Shares */
.nodata {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

/* Remove hover animation from nav buttons
   Share Entry Page */
.btn-static:hover, .btn-static:focus {
    background-position: 0px;
    border-color: #ccc;
}

/* ADVFN Logo on Share Entry Page */
.advfn-logo {
    border: 0;
    padding: 0;
    margin: 0;
}

/* Set table footer to bold
   Share Page Dividend table */
tfoot > tr > td {
    font-weight: bold;
}

/* Padding on date start/end
   Charts/Statment Pages */
.datanav {
    padding: 10px 0px 20px;
}

.datanav > .form-inline > .form-group {
    padding-right: 10px;
}

/* Colour loss red */
.loss {
    font-weight: bold;
    color: #f44336;
}

/* Colour profit red */
.profit {
    font-weight: bold;
    color: #0c9;
}

/* Alert on cash entry page */
.alert {
    font-variant: small-caps;
    font-size: 1.2em;
}

/* Control Panel */
.controlpanelinput {
    width: 450px;
}

#alertmsg > li {
    color: #F00;
    list-style-type: none;
}