{% extends 'layout.html' %}

{% block title%}Cash{% endblock %}

{% block body %}
    <div class="col-md-6">
        <h1>Cash</h1>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Cash Entry</h3>
                <div class="input-group" id="portfolioselect">
                    <select class="form-control" id="portfoliochange">
                        {% for entry in portfolio %}<option value="{{ entry['id'] }}"{% if entry['id'] == session['portfolio'] %} selected="selected"{% endif %}>{{ entry['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="cashform" action="{{ url_for('cash') }}" method="post" data-toggle="validator">
                    <div class="form-group">
                        <label for="cash_amount" class="col-sm-2 control-label">Amount</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">£</span>
                                <input type="text" class="form-control" id="cash_amount" name="cash_amount" placeholder="Amount" type="number" required>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cash_category" class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="cash_category" id="cash_category">
                                {% for category in cash_categories %}<option value="{{ category['id'] }}">{{ category['category'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cash_notes" class="col-sm-2 control-label">Notes</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="4" id="cash_notes" name="cash_notes"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cash_date" class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control datepicker" id="cashdatepicker" name="cash_date" placeholder="Date" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}