{% extends 'layout.html' %}

{% block title%}Index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <h1>Open Positions</h1>
            <input type="button" class="btn btn-primary" id="refreshPrices" value="Refresh Prices" data-loading-text="Refreshing..." data-fail-text="REFRESH FAILED!" onclick="refreshPrices()" autocomplete="off">
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Portfolio Details</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">Market Exposure</div>
                        <div class="col-md-7" id="exposure">{{ portfoliodetails['exposure']|gbp }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Current Sale Value</div>
                        <div class="col-md-7" id="salevalue">{{ (portfoliodetails['exposure'] - portfoliodetails['sale_costs'])|gbp }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Invested Capital</div>
                        <div class="col-md-7" id="capital">{{ portfolios[portfolio_index]['capital']|gbp }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Cash</div>
                        <div class="col-md-7" id="cash">{{ portfolios[portfolio_index]['cash']|gbp }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Profit/Loss</div>
                        <div class="col-md-7" id="profitloss">{{ (portfoliodetails['exposure'] - portfoliodetails['sale_costs'] + portfolios[portfolio_index]['cash'] - portfolios[portfolio_index]['capital'])|gbp }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7" id="percentage">{% if portfolios[portfolio_index]['capital'] != 0 %}{{ ((100 * ((portfoliodetails['exposure'] - portfoliodetails['sale_costs'] + portfolios[portfolio_index]['cash']) / portfolios[portfolio_index]['capital'])) - 100)|percentage }}{% else %}{{ 0|percentage }}{% endif %}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Daily Performance</div>
                        <div class="col-md-7 {% if portfoliodetails['dailyprofit'] < 0 %}loss{% else %}profit{% endif %}" id="dailyprofit">{{ portfoliodetails['dailyprofit']|gbp }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7 {% if portfoliodetails['dailyprofit'] < 0 %}loss{% else %}profit{% endif %}" id="dailypercent">{{ portfoliodetails['dailypercent']|percentage }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Last Updated</div>
                        <div class="col-md-7" id="lastupdated">{{ portfolios[portfolio_index]['lastupdated'] }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">EPIC</th>
                <th class="text-left">Company</th>
                <th class="text-right">Cost</th>
                <th class="text-right">Quantity</th>
                <th class="text-right">Target</th>
                <th class="text-right">Stop Loss</th>
                <th class="text-right">Bid</th>
                <th class="text-right">Value</th>
                <th class="text-right">Profit/Loss</th>
                <th class="text-right">Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% if sharedata %}{% for row in sharedata %}<tr>
                <td id="{{ row['id'] }}-{{ row['epic']}}-epic" class="text-right"><a href="{{ url_for('shares') }}?submit=update&id={{ row['id'] }}">{{ row['epic'] }}</a></td>
                <td id="{{ row['id'] }}-{{ row['epic']}}-company" class="text-left"><a href="{{ url_for('shares') }}?submit=update&id={{ row['id'] }}">{% filter title %}{{ row['company'].strip() }}{% endfilter %}</a></td>
                <td id="{{ row['id'] }}-{{ row['epic']}}-buyprice" class="text-right">{{ row['buyprice']|shareprice }}</td>
                <td id="{{ row['id'] }}-{{ row['epic']}}-quantity" class="text-right">{{ row['quantity'] }}</td>
                <td id="{{ row['id'] }}-{{ row['epic']}}-target" class="text-right{% if row['target'] <= row['sellprice'] %} success">{% else %}">{% endif %}<input type="text" class="indexform targetinput form-control" name="{{ row['id'] }}-{{ row['epic']}}-targetedit" id="{{ row['id'] }}-{{ row['epic']}}-target-edit" value="{{ row['target']|shareprice }}"></td>
                <td id="{{ row['id'] }}-{{ row['epic']}}-stoploss" class="text-right{% if row['stoploss'] >= row['sellprice'] %} danger">{% else %}">{% endif %}<input type="text" class="indexform stoplossinput form-control" name="{{ row['id'] }}-{{ row['epic']}}-stoplossedit" id="{{ row['id'] }}-{{ row['epic']}}-stoploss-edit" value="{{ row['stoploss']|shareprice }}"></td>
                <td class="text-right {{ row['epic'] }}"><strong id="{{ row['id'] }}-{{ row['epic']}}-bid">{{ row['sellprice']|shareprice }}</strong></td>
                <td id="{{ row['id'] }}-{{ row['epic']}}-value" class="text-right">{{ (row['sellprice'] * row['quantity'] * 0.01)|gbp }}</td>
                <td id="{{ row['id'] }}-{{ row['epic']}}-profitloss" class="text-right{% if row['percentage'] < 0 %} danger">{% elif row['percentage'] >= 20 %} success">{% else %}">{% endif %}{{ row['profitloss']|gbp }}</td>
                <td id="{{ row['id'] }}-{{ row['epic']}}-percentage" class="text-right{% if row['percentage'] < 0 %} danger">{% elif row['percentage'] >= 20 %} success">{% else %}">{% endif %}{{ row['percentage']|percentage }}</td>
            </tr>{% endfor %}{% else %}<td class="nodata" colspan="10">No shares yet</td>{% endif %}
        </tbody>
    </table>
    <script>refreshPrices();</script>
{% endblock %}