<!DOCTYPE html>

<html lang="en">
<head>
	<!-- Metadata -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-timepicker-addon.css') }}">
    <script src="{{ url_for('static', filename='date.format.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='validator.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui-timepicker-addon.js') }}"></script>
    <title>Share Trader | {% block title %}{% endblock %}</title>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">ShareTrader</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
				    {% if session.user_id %}
					<li><a href="{{ url_for('shares') }}?submit=update">Share Entry</a></li>
					<li><a href="{{ url_for('statement') }}">Cash Statement</a></li>
					<li><a href="{{ url_for('log') }}">Log</a></li>
					<li><a href="{{ url_for('charts') }}">Charts</a></li>
					<li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Brokers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.iwebsharedealing.co.uk/_mem_bin/Formslogin.asp" target="_blank">iWeb Share Dealing</a></li>
                            <li><a href="https://online.hl.co.uk/my-accounts/login-step-one" target="_blank">Hargreaves Lansdown</a></li>
                        </ul>
                    </li>
					{% endif %}
				</ul>   
				<ul class="nav navbar-nav navbar-right">
				    {% if session['user_id'] %}					
					<li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Portfolios <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for entry in portfolios %}<li{% if entry['id'] == session['portfolio'] %} class="disabled"{% endif %}><a class="portfoliochange" id="{{ entry['id'] }}" href="#">{{ entry['name'] }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ session.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('controlpanel') }}">Control Panel</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </li>
					{% else %}
					<li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Register <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <div class="dropdown-form">
                                <form class="form-horizontal" action="/register" method="post">
                                    <div class="form-group">
                                        <label for="reg_username" class="col-md-3 control-label">Username</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="reg_password" class="col-md-3 control-label">Password</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="reg_confirmpassword" class="col-md-3 control-label">Confirm</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" id="reg_confirmpassword" name="reg_confirmpassword" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-default">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ul>
                    </li>
					<li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <div class="dropdown-form">
                                <form class="form-horizontal" action="/login" method="post">
                                    <div class="form-group">
                                        <label for="login_username" class="col-md-3 control-label">Username</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" maxlength="30" id="login_username" name="login_username" placeholder="Username"{% if session.username %} value="{{ session.username }}"{% endif %}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="login_password" class="col-md-3 control-label">Password</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" maxlength="30" id="login_password" name="login_password" placeholder="Password"{% if session.password %} value="{{ session.password }}"{% endif %}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="login_remember"{% if session.rememberme %} checked="checked"{% endif %}> Remember me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-default">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ul>
                    </li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
	    <div id="flash">
	{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}<div class="alert alert-{{ category }} text-center" role="alert">
            {{ message }}
        </div>{% endfor %}
  {% endif %}{% endwith %}
        </div>
{% block body %}{% endblock %}
    </div>
</body>
</html>