{% extends 'layout.html' %}

{% block title%}Log{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h1>Log</h1>
        </div>
        <div class="col-md-8">
            <div class="pull-right">
                <div class="btn-group" role="group">
                    <select type="button" class="form-control" id="portfoliochange">
                        {% for entry in portfolio %}<option value="{{ entry['id'] }}"{% if entry['id'] == session['portfolio'] %} selected="selected"{% endif %}>{{ entry['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
            	<th>Date</th>
            	<th>Market Exposure</th>
            	<th>Profit / Loss</th>
            	<th>Capital</th>
            	<th>Cash</th>
            	<th>FTSE 100</th>
            </tr>
        </thead>
    	<tbody>
        	{% for item in log %}<tr>{% set percent = ((100 * ((item['exposure'] + item['cash']) / item['capital'])) - 100) %}{% set profitloss = item['exposure'] - item['capital'] %}
                <td>{{ item['date']|dateFormat }}</td>
                <td>{{ item['exposure']|gbp }}</td>
                <td class="{% if percent < 0 %}loss{% else %}profit{% endif %}">{{ profitloss|gbp }} | {{ percent|percentage }}</td>
                <td>{{ item['capital']|gbp }}</td>
                <td>{{ item['cash']|gbp }}</td>
                <td>{{ item['ftse100']|shareprice }}</td>
            </tr>{% endfor %}
        </tbody>
    </table>
{% endblock %}