{% extends 'layout.html' %}

{% block title%}Share Detail{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h1>Shares</h1>
        </div>
        <div class="col-md-8">
            <div class="pull-right">
                <div class="btn-group" role="group">
                    <a href="{{ url_for('shares') }}?submit=submit" type="button" class="btn btn-danger">New</a>
                </div>
                <div class="btn-group" role="group">
                    <a href="{{ url_for('shares') }}?submit=update&id={{ nav['lastid'] }}" type="button" class="btn btn-primary">Historical</a>
                </div>
                <div class="btn-group" role="group">
                    <a href="{% if nav['previd'] == None %}#{% else %}{{ url_for('shares') }}?submit=update&id={{ nav['previd'] }}{% endif %}" type="button" class="btn btn-default linkblack"{% if nav['previd'] == None or not share['id'] %} disabled="true"{% endif %}>Previous</a>
                    <button type="button" class="btn btn-default btn-static"{% if not share['id'] %} disabled="true">0{% else %}>{{ nav['index'] }}{% endif %} / {{ nav['numEntries'] }}</button>
                    <a href="{% if nav['nextid'] == None %}#{% else %}{{ url_for('shares') }}?submit=update&id={{ nav['nextid'] }}{% endif %}" type="button" class="btn btn-default linkblack"{% if nav['nextid'] == None or not share['id'] %} disabled="true"{% endif %}>Next</a>
                </div>
                <div class="btn-group" role="group">
                    <select type="button" class="form-control" id="portfoliochange">
                        {% for entry in portfolio %}<option value="{{ entry['id'] }}"{% if entry['id'] == session['portfolio'] %} selected="selected"{% endif %}>{{ entry['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal" action="{{ url_for('shares') }}" method="post">
        <input type="hidden" name="id" value="{% if submit == 'update' %}{{ share['id'] }}{% endif %}">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Company Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="epic">EPIC</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" maxlength="6" id="epic" name="epic" placeholder="EPIC" {% if share['epic'] %}value="{{ share['epic'] }}"{% endif %} {% if submit == 'update' %}readonly{% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="company">Company</label>
                            <div class="col-md-9" id="advfnmasterdiv">
                                {% if share['company'] %}<div class="input-group" id="advfndiv">{% endif %}
                                    <input type="text" class="form-control" id="company" name="company" placeholder="No valid EPIC entered"{% if share['company'] %} value="{{ share['company'] }}"{% endif %} readonly>
                                    {% if share['company'] %}<span class="input-group-addon advfn-logo"><a href="http://uk.advfn.com/p.php?pid=financials&symbol=LSE:{{ share['epic'] }}" target="_blank"><img src="/static/images/advfn-logo.png" /></a></span>{% endif %}
                                {% if share['company'] %}</div>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Info</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="comment">Comment</label>
                            <div class="col-md-9">
                                <textarea id ="comment" name="comment" rows="6" cols="40" placeholder="Why did you make the trade? How strongly do you feel about it?">{% if share['comment'] %}{{ share['comment'] }}{% endif %}</textarea>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="control-label col-md-3" for="status">Status</label>
                            <div class="col-md-9 row">
                                <label class="radio inline col-md-3">
                                    <input type="radio" name="status" id="statusopen" value="1" {% if share['status'] != 0|int %}checked="checked"{% endif %}>
                                    Open
                                </label>
                                <label class="radio inline col-md-3">
                                    <input type="radio" name="status" id="statusclosed" value="0" {% if share['status'] == 0|int %}checked="checked"{% endif %}>
                                    Closed
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-push-4">
                                {% if submit == 'update' %}<button type="submit" class="btn btn-default" name="submit" value="update" class="btn">Update</button>
                                <button type="submit" class="btn btn-default" name="submit" value="delete" class="btn">Delete</button>
                                {% else %}<button type="submit" class="btn btn-default" name="submit" value="submit" class="btn">Submit</button>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-md-pull-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Holding</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="control-label col-md-4" for="quantity">Quantity</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Quantity" {% if method != 'submit' and share['quantity'] %}value="{{ share['quantity'] }}"{% endif %} {% if method == 'update' %}readonly{% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="target">Target Price</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="target" name="target" placeholder="Target Price" value="{% if method != 'submit' and share['target'] %}{{ share['target'] }}{% endif %}">
                                    <span class="input-group-addon">p</span>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="targetcalculate" type="button">20%</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="stoploss">Stop Loss</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="stoploss" name="stoploss" placeholder="Stop Loss" value="{% if method != 'submit' and share['stoploss'] %}{{ share['stoploss'] }}{% endif %}">
                                    <span class="input-group-addon">p</span>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="stoplosscalculate" type="button">10%</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="company">Days Held</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="daysheld" name="daysheld" {% if submit != 'submit' %} value="{{ share['daysHeld'] }}"{% endif %} readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="company">Profit/Loss</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="profitloss" name="profitloss" value="{% if share['profitloss'] %}{{ share['profitloss']|gbp }}{% else %}{{ 0|gbp }}{% endif %}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="company">Percentage</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="percentage" name="percentage" value="{% if share['percentage'] %}{{ share['percentage']|percentage }}{% else %}{{ 0|percentage }}{% endif %}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Purchase</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="control-label col-md-4" for="buydate">Purchase Date</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control datepicker" id="buydate" name="buydate"{% if share['buydate'] %} value="{{ share['buydate'] }}"{% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="buyprice">Purchase Price</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="buyprice" name="buyprice" placeholder="Price" value="{% if method != 'submit' or share['buyprice'] %}{{ share['buyprice'] }}{% endif %}">
                                    <span class="input-group-addon">p</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="stampduty">Stamp Duty</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="text" class="form-control" id="stampduty" name="stampduty" placeholder="Stamp Duty" value="{% if method != 'submit' or share['stampduty'] %}{{ share['stampduty'] }}{% endif %}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="stampdutycalculate" type="button">=</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="buytradecost">Trade Cost (Buy)</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="text" class="form-control" id="buytradecost" name="buytradecost" placeholder="Trade Cost" value="{% if method != 'submit' or share['buytradecost'] %}{{ share['buytradecost'] }}{% endif %}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="buycost">Total Cost</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="text" class="form-control" id="buycost" name="buycost" placeholder="Total Cost" value="{% if method != 'submit' or share['buycost'] %}{{ share['buycost'] }}{% endif %}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="buycostcalculate" type="button">=</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sale</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="selldate">Sale Date</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control datepicker" id="selldate" name="selldate" placeholder="Sell Date" value="{% if method != 'submit' and share['selldate'] != None %}{{ share['selldate'] }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="sellprice">Sale Price</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="sellprice" name="sellprice" placeholder="Sale Price" value="{% if method != 'submit' or share['sellprice'] %}{{ share['sellprice'] }}{% endif %}">
                                    <span class="input-group-addon">p</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="selltradecost">Trade Cost (Sale)</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="text" class="form-control" id="selltradecost" name="selltradecost" placeholder="Trade Cost" value="{% if method != 'submit' or share['selltradecost'] %}{{ share['selltradecost'] }}{% endif %}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="value">Total Sale</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="text" class="form-control" id="value" name="value" placeholder="Total Sale" value="{% if method != 'submit' or share['value'] %}{{ share['value'] }}{% endif %}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="sellpricecalculate" type="button">=</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}